@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .product__grid {
    @apply grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-5  w-[95%] xl:w-[80%] mx-auto mb-10;
  }
  .cart__quantity {
    @apply absolute w-3 h-3 rounded-[50%] bg-red-500 right-1 top-1 flex justify-center items-center  p-[.4rem];
  }
  .center {
    @apply flex items-center justify-center h-screen;
  }
  .product_wrapper {
    @apply w-[70%] mx-auto h-screen;
  }
  .product {
    @apply flex flex-col items-center justify-center h-[80vh]  lg:flex-row gap-14 lg:mb-32 sm:my-40 lg:my-0 my-[5rem] xs:my-32;
  }
  .plus__quantity {
    @apply transition-colors duration-500 translate-y-[10%] text-sm text-[#1d1d1d]  hover:text-[#4f4f4f];
  }
  .add-to-cart {
    @apply p-2 transition-all duration-500 border-[1.5px] border-[#444] rounded-md hover:shadow-sm hover:bg-[#444] hover:text-white w-full;
  }
  .buy_now {
    @apply p-2 transition-all duration-500 bg-[#405828] rounded-md text-white hover:bg-[#405828] hover:text-white w-full;
  }
  .backdrop {
    @apply fixed right-0 left-0 h-screen top-0  w-full overflow-hidden z-30 bg-[#00000081] flex justify-end;
  }
  .no__item {
    @apply absolute left-0 flex justify-center w-full top-[47%] first-letter:items-center;
  }
  .cart__wrapper {
    @apply lg:w-[40%] w-full md:w-[80%] bg-[#f1f1f1] overflow-y-scroll overflow-x-hidden  min-h-screen relative z-30;
  }
  .cart-products__wrapper {
    @apply p-[2rem_3rem] min-h-[90vh];
  }
  .cart__summary {
    @apply text-[#ffffff] items-center justify-between flex flex-col xs:flex-row gap-5 xs:gap-0 sticky bottom-0  bg-[#333] px-5 py-8 rounded-t-xl mb-20 md:mb-0;
  }
  .cart-summary__wrapper {
    @apply flex items-center gap-3 justify-center text-[#333333d6] bg-[#fff] py-1 px-4  rounded-lg hover:bg-[#ffffffe6] transition-all duration-300 hover:translate-x-[-2px];
  }
  .cart__subtotal {
    @apply font-semibold mr-3 text-sm text-[#fff];
  }
  .success__page {
    @apply h-[87vh] w-full flex justify-center items-center;
  }
  .success__wrapper {
    @apply rounded-md shadow-lg flex flex-col items-center py-10 px-5 mx-5 md:px-32 mt-32 md:mt-5;
  }
  .success__message {
    @apply mb-2 text-xl lg:text-3xl text-center;
  }
  .success__confirmationMessage {
    @apply text-center mb-10 text-[#ababab];
  }
  .success__email {
    @apply font-semibold;
  }
  .success__customerdeets {
    @apply self-start  mb-10 w-full;
  }
  .success__title {
    @apply text-lg font-semibold mb-3;
  }
  .success__text {
    @apply mb-10 text-gray-500;
  }
  .success__product_wrapper {
    @apply mb-10;
  }
  .success__products {
    @apply flex justify-between items-center text-xs mb-5;
  }
  .success__total {
    @apply flex justify-center;
  }
  .success__continue {
    @apply flex items-center gap-3 justify-center text-white bg-[#333] py-2 px-4  rounded-lg hover:bg-[#2c2c2ce6] transition-all duration-300 hover:translate-x-[-2px];
  }
}
